Repository hiranuma-shuya/create-expo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "**/*.{md,json,lintstagedrc}": ["prettier --write"]
}

発火する？
  react-native-expo-tutorial/src/screens/app.tsx
Due: eslint --fix, prettier --write

add gha
  react-native-expo-tutorial/.github/workflows/continuous-integration.yml
  react-native-expo-tutorial/.husky/pre-commit
Due: none

remove not required
  .husky/pre-commit
  .lintstagedrc
Due: prettier --write

change dir
  .eslintrc.cjs
  .github/workflows/continuous-integration.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc.mjs
  app.json
  package-lock.json
  package.json
  src/assets/adaptive-icon.png
  src/assets/favicon.png
  src/assets/icon.png
  src/assets/splash-icon.png
  src/screens/app.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

extensions.jsonを設定
  .vscode/extensions.json
Due: prettier --write

add settings.json
  .vscode/settings.json
Due: prettier --write

遊んでみた
  .eslintrc.cjs
  package-lock.json
  package.json
  src/assets/background-image.png
  src/assets/emoji1.png
  src/assets/emoji2.png
  src/assets/emoji3.png
  src/assets/emoji4.png
  src/assets/emoji5.png
  src/assets/emoji6.png
  src/assets/favicon.png
  src/assets/icon.png
  src/assets/splash-icon.png
  src/components/button.tsx
  src/components/image-viewer.tsx
  src/screens/app.tsx
  src/types/images.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write
